<%= form_for(@login) do |f| %>
  <% if @login.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@login.errors.count, "error") %> prohibited this login to be sent:</h5>

      <ul>
      <% @login.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div >
  <h5 id="my_header_block">Your myTesla credentials:</h5>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %>

    <%= f.password_field :password %>
  </div>
  <%= f.label :terms do %>
     <%= f.check_box :terms, :style => "float: left; margin:5px" %>  I understand the risks
  <% end %>  
  <div>
    <%= f.submit 'Login', :class => 'btn btn-block btn-success' %>
  </div>
</div>
<% end %>
