<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>Action</th>
    <th>Color</th>
    <th>Display name</th>
    <th>ID</th>
    <th>Vehicle ID</th>
    <th>User ID</th>
    <th>VIN</th>
    <th>Online state</th>
    <th>Mobile Access</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td></td>
    <td><%=  %></td>
    <td><%=  %></td>
    <td><%= notice[2] rescue '' %></td>
    <td><%= notice[3] rescue '' %></td>
    <td><%= notice[4] rescue '' %></td>
    <td><%= notice[5] rescue '' %></td>
    <td><%= notice[6] rescue '' %></td>
    <td><%= notice[7] rescue '' %></td>
    <td><%= notice[9] rescue '' %></td>

  </tr>
  <tr>
    <th colspan="9">Option codes</th>
  </tr>
  <tr>
    <td colspan="9"><%= notice[8]  rescue '' %></td>
  </tr>
  </tbody>


</table>
