  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#tab1">Info</a></li>
    <li><a href="#tab2">Options</a></li>
    <li><a href="#tab_nyi">Charging</a></li>
    <li><a href="#tab_nyi">Climate</a></li>
    <li><a href="#tab_nyi">Vehicle state</a></li>
    <li><a href="##tab_nyi">GUI settings</a></li>
    <li><a href="##tab_nyi">Commands</a></li>
    <li><a href="#tab4">Location</a></li>
  </ul>
  <div class='tab-content'>
    <div class="tab-pane active" id="tab1">
      <%= render 'tab1' %>
    </div>

    <div class="tab-pane" id="tab2">
      <%= render partial: 'tab2' %>
    </div>

    <div class="tab-pane" id="tab3">
      <%= render 'tab3' %>
    </div>

    <div class="tab-pane" id="tab4">
      <%= render 'tab4' %>
    </div>

    <div class="tab-pane" id="tab_nyi">
      <%= render 'tab_nyi' %>
    </div>

  </div>



<p class="alert alert-info"><%= notice[0] rescue '' %></p>
<%= link_to 'Start over', new_login_path, :class => 'btn btn-block btn-success' %>

 <script>
      $('#myTab a').click(function (e) {
          e.preventDefault();
          $(this).tab('show');
      })
 </script>
