<table class="table table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>Color</th>
      <th>Display name</th>
      <th>ID</th>
      <th>Vehicle ID</th>
      <th>User ID</th>
      <th>VIN</th>
      <th>Online state</th>
      <th>Mobile Access</th>	
    </tr>
  </thead>

  <tbody>
      <tr>
       <td><%= notice[0] %></td>
       <td><%= notice[1] %></td>
       <td><%= notice[2] %></td>
       <td><%= notice[3] %></td>
       <td><%= notice[4] %></td>
       <td><%= notice[5] %></td>
       <td><%= notice[6] %></td>
       <td><%= notice[8] %></td>
      </tr>
      <tr>
        <th colspan="8">Option codes</th>
      </tr>
      <tr>
      <td colspan="8"><%= notice[7] %></td>
      </tr>
  </tbody>
  <tr>
</tr>

</table>

<br>

<%= link_to 'New Login', new_login_path %>
