<h1>Vehicle info</h1>

<table border="1">
  <thead>
    <tr>
      <th>Color</th>
      <th>Display name</th>
      <th>ID</th>
      <th>Vehicle ID</th>
      <th>User ID</th>
      <th>VIN</th>
      <th>Online state</th>
    </tr>
  </thead>

  <tbody>
      <tr>
       <td><%= notice[0] %></td>
       <td><%= notice[1] %></td>
       <td><%= notice[2] %></td>
       <td><%= notice[3] %></td>
       <td><%= notice[4] %></td>
       <td><%= notice[5] %></td>
       <td><%= notice[6] %></td>
      </tr>
      <tr>
        <th colspan="7">Option codes</th>
      </tr>
      <tr>
      <td colspan="7"><%= notice[7] %></td>
      </tr>
  </tbody>
  <tr>
</tr>

</table>

<br>

<%= link_to 'New Login', new_login_path %>
